<form>
  <label>
    Name:
    <input type="text" @bind="@colorForm.Name" />
   </label>
  <label>
    Hex Code:
    <input type="text" @bind="@colorForm.HexCode" />
  </label>
  <button type="button" @onclick="@submitColor">@ButtonText</button>
</form>

@code {

  [Parameter]
  public string ButtonText { get; set; } = "Submit Color";

  [Parameter]
  public EventCallback<INewColor> OnSubmitColor { get; set; }

  private ColorFormModel colorForm = new();

  private IMapper _mapper;

  protected override void OnInitialized()
  {
    base.OnInitialized();

      var mapperConfig = new MapperConfiguration(config => {
        config.CreateMap<ColorFormModel, NewColor>();
      });

      _mapper = mapperConfig.CreateMapper();
  }

  private async Task submitColor()
  {
    await OnSubmitColor.InvokeAsync(_mapper.Map<NewColor>(colorForm));
  }

  class ColorFormModel
  {
    public string Name { get; set; }
    public string HexCode { get; set; }
  }

}
