<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Color</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var car in Cars)
    {
      @if (car.Id == EditCarId) {
        <CarEditRow Car="@car" OnSaveCar=@OnSaveCar OnCancelCar=@OnCancelCar />
      } else {
        <CarViewRow Car=@car OnEditCar=@OnEditCar OnDeleteCar=@OnDeleteCar />
      }
    }
  </tbody>
</table>

@code {

  [Parameter]
  public IEnumerable<ICar> Cars { get; set; } = new List<Car>();

  [Parameter]
  public int EditCarId { get; set; } = -1;

  [Parameter]
  public EventCallback<int> OnEditCar { get; set; }

  [Parameter]
  public EventCallback<int> OnDeleteCar { get; set; }

  [Parameter]
  public EventCallback<ICar> OnSaveCar { get; set; }

  [Parameter]
  public EventCallback OnCancelCar { get; set; }

}
