<ul>
  @foreach (var color in Colors)
  {
      <li>
        @color.Name - @color.HexCode
      <button type="button" @onclick="@(async () => await OnDeleteColor.InvokeAsync(color.Id))">X</button>
      </li>
  }
</ul>

@code {
  [Parameter]
  public IEnumerable<IColor> Colors { get; set; } = new List<IColor>();

  [Parameter]
  public EventCallback<int> OnDeleteColor { get; set; }
}
