<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Color</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @if (!Cars.Any())
    {
      <tr>
        <td colspan="6">No Cars</td>
      </tr>
    }
    @foreach (var car in Cars)
    {
      <CarViewRow Car="@car" OnDeleteCar="@deleteCar"></CarViewRow>
    }
  </tbody>
</table>

@code {
  [Parameter]
  public IEnumerable<ICar> Cars { get; set; } = new List<ICar>();

  [Parameter]
  public EventCallback<int> OnDeleteCar { get; set; }

  private async Task deleteCar(int carId)
  {
    await OnDeleteCar.InvokeAsync(carId);
  }
}