@page "/"

@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<a href="/demo/1">Demo 1</a>

<button @onclick="GotoDemoTwo">Demo 2</button>

@code {
    void GotoDemoTwo() {
        NavigationManager.NavigateTo("/demo/2");
    }
}
