@page "/color-tool"

@using ToolsApp.Core.Interfaces.Data
@using ToolsApp.Components.ColorTool
@using Microsoft.JSInterop

@inject IColorsData colorsData
@inject ScreenBlocker ScreenBlocker
@inject IJSRuntime JS

<ToolHeader HeaderText="@colorToolHeader"></ToolHeader>
<ColorList Colors="@colors" OnDeleteColor="@DeleteColor" />
<ColorForm ButtonText="Add Color" OnSubmitColor="@AddColor" />


<button type="button" id="refreshColorsButton">Refresh Color</button>

@code {

  [Parameter]
  public string ToolNum { get; set; }

  private bool _firstRender = true;

  private string colorToolHeader = "Color Tool";

  private DotNetObjectReference<IColorsData> colorsDataRef;

  private IEnumerable<IColor> colors { get; set; } = new List<IColor>();

  protected override async Task OnParametersSetAsync()
  {
    colorToolHeader = "Color Tool " + ToolNum;

    if (!_firstRender) {
      await RefreshColors();
    }
  }

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    colorsDataRef = DotNetObjectReference.Create(colorsData);

    if (firstRender) {
      await JS.InvokeVoidAsync("app.setupColorsRefresh", colorsDataRef);
      _firstRender = false;
      await RefreshColors();
      StateHasChanged();
    }
  }

  public async Task RefreshColors()
  {
    await ScreenBlocker.BlockScreen();
    colors = await colorsData.All();
    await Task.Delay(1000);
    await ScreenBlocker.UnblockScreen();
  }

  public async Task AddColor(INewColor newColor)
  {
    await colorsData.Append(newColor);
    await RefreshColors();

  }

  public async Task DeleteColor(int colorId)
  {
    if (await JS.InvokeAsync<bool>("confirm", "Are you sure you want to delete the color?"))
    {
      await colorsData.Remove(colorId);
      await RefreshColors();
    }
  }



}
